/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package so.torii.backend.generated.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import so.torii.backend.generated.model.ProblemDetail
import so.torii.backend.generated.model.UserSessionResponse

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import so.torii.backend.generated.infrastructure.ApiClient
import so.torii.backend.generated.infrastructure.ApiResponse
import so.torii.backend.generated.infrastructure.ClientException
import so.torii.backend.generated.infrastructure.ClientError
import so.torii.backend.generated.infrastructure.ServerException
import so.torii.backend.generated.infrastructure.ServerError
import so.torii.backend.generated.infrastructure.MultiValueMap
import so.torii.backend.generated.infrastructure.PartConfig
import so.torii.backend.generated.infrastructure.RequestConfig
import so.torii.backend.generated.infrastructure.RequestMethod
import so.torii.backend.generated.infrastructure.ResponseType
import so.torii.backend.generated.infrastructure.Success
import so.torii.backend.generated.infrastructure.toMultiValue
import so.torii.backend.generated.infrastructure.Serializer

open class ServerSessionsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.torii.so")
        }
    }

    /**
     * GET /api/server/v1/users/{userId}/sessions
     * List user sessions
     * Returns all active (unexpired, unrevoked) sessions for the user, ordered by most recently used.
     * @param userId Identifier of the user whose sessions to list.
     * @return kotlin.collections.List<UserSessionResponse>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listSessions(userId: java.util.UUID) : kotlin.collections.List<UserSessionResponse> = withContext(Dispatchers.IO) {
        val localVarResponse = listSessionsWithHttpInfo(userId = userId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<UserSessionResponse>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/server/v1/users/{userId}/sessions
     * List user sessions
     * Returns all active (unexpired, unrevoked) sessions for the user, ordered by most recently used.
     * @param userId Identifier of the user whose sessions to list.
     * @return ApiResponse<kotlin.collections.List<UserSessionResponse>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listSessionsWithHttpInfo(userId: java.util.UUID) : ApiResponse<kotlin.collections.List<UserSessionResponse>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listSessionsRequestConfig(userId = userId)

        return@withContext request<Unit, kotlin.collections.List<UserSessionResponse>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listSessions
     *
     * @param userId Identifier of the user whose sessions to list.
     * @return RequestConfig
     */
    fun listSessionsRequestConfig(userId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/server/v1/users/{userId}/sessions".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/server/v1/users/{userId}/sessions
     * Revoke all sessions
     * Immediately revokes every active session for the user. Idempotent.
     * @param userId Identifier of the user whose sessions to revoke.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun revokeAllSessions(userId: java.util.UUID) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = revokeAllSessionsWithHttpInfo(userId = userId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/server/v1/users/{userId}/sessions
     * Revoke all sessions
     * Immediately revokes every active session for the user. Idempotent.
     * @param userId Identifier of the user whose sessions to revoke.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun revokeAllSessionsWithHttpInfo(userId: java.util.UUID) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = revokeAllSessionsRequestConfig(userId = userId)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation revokeAllSessions
     *
     * @param userId Identifier of the user whose sessions to revoke.
     * @return RequestConfig
     */
    fun revokeAllSessionsRequestConfig(userId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/problem+json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/server/v1/users/{userId}/sessions".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/server/v1/users/{userId}/sessions/{sessionId}
     * Revoke specific session
     * Revokes a single session by id. Idempotent: returns 204 even if the session was already revoked or expired.
     * @param userId Identifier of the user who owns the session.
     * @param sessionId Identifier of the session to revoke.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun revokeSession(userId: java.util.UUID, sessionId: java.util.UUID) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = revokeSessionWithHttpInfo(userId = userId, sessionId = sessionId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/server/v1/users/{userId}/sessions/{sessionId}
     * Revoke specific session
     * Revokes a single session by id. Idempotent: returns 204 even if the session was already revoked or expired.
     * @param userId Identifier of the user who owns the session.
     * @param sessionId Identifier of the session to revoke.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun revokeSessionWithHttpInfo(userId: java.util.UUID, sessionId: java.util.UUID) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = revokeSessionRequestConfig(userId = userId, sessionId = sessionId)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation revokeSession
     *
     * @param userId Identifier of the user who owns the session.
     * @param sessionId Identifier of the session to revoke.
     * @return RequestConfig
     */
    fun revokeSessionRequestConfig(userId: java.util.UUID, sessionId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/problem+json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/server/v1/users/{userId}/sessions/{sessionId}".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())).replace("{"+"sessionId"+"}", encodeURIComponent(sessionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
