/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package so.torii.backend.generated.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import so.torii.backend.generated.model.CreateUserRequest
import so.torii.backend.generated.model.CursorPageResponseServerUserOrganizationResponse
import so.torii.backend.generated.model.CursorPageResponseServerUserResponse
import so.torii.backend.generated.model.ProblemDetail
import so.torii.backend.generated.model.ServerUserResponse
import so.torii.backend.generated.model.ServerUserSearchRequest
import so.torii.backend.generated.model.UpdateUserMetadataRequest
import so.torii.backend.generated.model.UpdateUserRequest

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import so.torii.backend.generated.infrastructure.ApiClient
import so.torii.backend.generated.infrastructure.ApiResponse
import so.torii.backend.generated.infrastructure.ClientException
import so.torii.backend.generated.infrastructure.ClientError
import so.torii.backend.generated.infrastructure.ServerException
import so.torii.backend.generated.infrastructure.ServerError
import so.torii.backend.generated.infrastructure.MultiValueMap
import so.torii.backend.generated.infrastructure.PartConfig
import so.torii.backend.generated.infrastructure.RequestConfig
import so.torii.backend.generated.infrastructure.RequestMethod
import so.torii.backend.generated.infrastructure.ResponseType
import so.torii.backend.generated.infrastructure.Success
import so.torii.backend.generated.infrastructure.toMultiValue
import so.torii.backend.generated.infrastructure.Serializer

open class ServerUsersApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.toriiauth.eu")
        }
    }

    /**
     * POST /api/server/v1/users/{userId}/ban
     * Ban user
     * Marks the user as banned and revokes all their active sessions.
     * @param userId Identifier of the user to ban.
     * @return ServerUserResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun banUser(userId: java.util.UUID) : ServerUserResponse = withContext(Dispatchers.IO) {
        val localVarResponse = banUserWithHttpInfo(userId = userId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ServerUserResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/server/v1/users/{userId}/ban
     * Ban user
     * Marks the user as banned and revokes all their active sessions.
     * @param userId Identifier of the user to ban.
     * @return ApiResponse<ServerUserResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun banUserWithHttpInfo(userId: java.util.UUID) : ApiResponse<ServerUserResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = banUserRequestConfig(userId = userId)

        return@withContext request<Unit, ServerUserResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation banUser
     *
     * @param userId Identifier of the user to ban.
     * @return RequestConfig
     */
    fun banUserRequestConfig(userId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/server/v1/users/{userId}/ban".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/server/v1/users
     * Create user
     * Creates an end-user in your environment. All body fields are optional; supply at minimum an email if you want the user to be able to sign in via email + password.
     * @param createUserRequest 
     * @return ServerUserResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun createUser(createUserRequest: CreateUserRequest) : ServerUserResponse = withContext(Dispatchers.IO) {
        val localVarResponse = createUserWithHttpInfo(createUserRequest = createUserRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ServerUserResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/server/v1/users
     * Create user
     * Creates an end-user in your environment. All body fields are optional; supply at minimum an email if you want the user to be able to sign in via email + password.
     * @param createUserRequest 
     * @return ApiResponse<ServerUserResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun createUserWithHttpInfo(createUserRequest: CreateUserRequest) : ApiResponse<ServerUserResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = createUserRequestConfig(createUserRequest = createUserRequest)

        return@withContext request<CreateUserRequest, ServerUserResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createUser
     *
     * @param createUserRequest 
     * @return RequestConfig
     */
    fun createUserRequestConfig(createUserRequest: CreateUserRequest) : RequestConfig<CreateUserRequest> {
        val localVariableBody = createUserRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/server/v1/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/server/v1/users/{userId}
     * Delete user
     * Soft-deletes the user. Not idempotent at the HTTP layer: the authorization grant for the user is revoked on the first successful delete, so a subsequent DELETE for the same id returns 403 rather than 204. Treat 403 from a retry as a confirmation that the user is already deleted.
     * @param userId Identifier of the user to delete.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun deleteUser(userId: java.util.UUID) : Unit = withContext(Dispatchers.IO) {
        val localVarResponse = deleteUserWithHttpInfo(userId = userId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/server/v1/users/{userId}
     * Delete user
     * Soft-deletes the user. Not idempotent at the HTTP layer: the authorization grant for the user is revoked on the first successful delete, so a subsequent DELETE for the same id returns 403 rather than 204. Treat 403 from a retry as a confirmation that the user is already deleted.
     * @param userId Identifier of the user to delete.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun deleteUserWithHttpInfo(userId: java.util.UUID) : ApiResponse<Unit?> = withContext(Dispatchers.IO) {
        val localVariableConfig = deleteUserRequestConfig(userId = userId)

        return@withContext request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteUser
     *
     * @param userId Identifier of the user to delete.
     * @return RequestConfig
     */
    fun deleteUserRequestConfig(userId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/problem+json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/server/v1/users/{userId}".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/server/v1/users/{userId}
     * Get user
     * Returns the full profile for one end-user.
     * @param userId Identifier of the user to fetch.
     * @return ServerUserResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun getUser(userId: java.util.UUID) : ServerUserResponse = withContext(Dispatchers.IO) {
        val localVarResponse = getUserWithHttpInfo(userId = userId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ServerUserResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/server/v1/users/{userId}
     * Get user
     * Returns the full profile for one end-user.
     * @param userId Identifier of the user to fetch.
     * @return ApiResponse<ServerUserResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun getUserWithHttpInfo(userId: java.util.UUID) : ApiResponse<ServerUserResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = getUserRequestConfig(userId = userId)

        return@withContext request<Unit, ServerUserResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getUser
     *
     * @param userId Identifier of the user to fetch.
     * @return RequestConfig
     */
    fun getUserRequestConfig(userId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/server/v1/users/{userId}".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/server/v1/users/{userId}/organizations
     * List a user&#39;s organizations
     * Returns a cursor-paginated page of the organizations this user is a member of, with the user&#39;s role in each and that membership&#39;s metadata bags. The mirror image of listing an organization&#39;s members. Note the bags are the MEMBERSHIP&#39;s, not the organization&#39;s: read the organization itself for those.
     * @param userId Identifier of the user whose organizations to list.
     * @param limit Maximum number of items in the returned page (default 20). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @return CursorPageResponseServerUserOrganizationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listUserOrganizations(userId: java.util.UUID, limit: kotlin.Int? = 20, cursor: java.util.UUID? = null) : CursorPageResponseServerUserOrganizationResponse = withContext(Dispatchers.IO) {
        val localVarResponse = listUserOrganizationsWithHttpInfo(userId = userId, limit = limit, cursor = cursor)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CursorPageResponseServerUserOrganizationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/server/v1/users/{userId}/organizations
     * List a user&#39;s organizations
     * Returns a cursor-paginated page of the organizations this user is a member of, with the user&#39;s role in each and that membership&#39;s metadata bags. The mirror image of listing an organization&#39;s members. Note the bags are the MEMBERSHIP&#39;s, not the organization&#39;s: read the organization itself for those.
     * @param userId Identifier of the user whose organizations to list.
     * @param limit Maximum number of items in the returned page (default 20). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @return ApiResponse<CursorPageResponseServerUserOrganizationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listUserOrganizationsWithHttpInfo(userId: java.util.UUID, limit: kotlin.Int?, cursor: java.util.UUID?) : ApiResponse<CursorPageResponseServerUserOrganizationResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listUserOrganizationsRequestConfig(userId = userId, limit = limit, cursor = cursor)

        return@withContext request<Unit, CursorPageResponseServerUserOrganizationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listUserOrganizations
     *
     * @param userId Identifier of the user whose organizations to list.
     * @param limit Maximum number of items in the returned page (default 20). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @return RequestConfig
     */
    fun listUserOrganizationsRequestConfig(userId: java.util.UUID, limit: kotlin.Int?, cursor: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/server/v1/users/{userId}/organizations".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/server/v1/users/search
     * Search users
     * Returns a cursor-paginated page of end-users in the environment matching the optional filters. Uses POST so the filter body can be sent without URL-encoding. Three id-selectors resolve users to a set of ids (&#x60;userIds&#x60;, the explicit batch-by-id lookup; &#x60;emailAddresses&#x60;, exact and case-insensitive; &#x60;email&#x60;, a case-insensitive substring); when more than one is supplied they are combined with AND (intersection). The remaining filters (&#x60;name&#x60;, &#x60;statuses&#x60;, &#x60;createdAfter&#x60;/&#x60;createdBefore&#x60;) apply on top.
     * @param limit Maximum number of items in the returned page (default 20). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @param serverUserSearchRequest  (optional)
     * @return CursorPageResponseServerUserResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun searchUsers(limit: kotlin.Int? = 20, cursor: java.util.UUID? = null, serverUserSearchRequest: ServerUserSearchRequest? = null) : CursorPageResponseServerUserResponse = withContext(Dispatchers.IO) {
        val localVarResponse = searchUsersWithHttpInfo(limit = limit, cursor = cursor, serverUserSearchRequest = serverUserSearchRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CursorPageResponseServerUserResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/server/v1/users/search
     * Search users
     * Returns a cursor-paginated page of end-users in the environment matching the optional filters. Uses POST so the filter body can be sent without URL-encoding. Three id-selectors resolve users to a set of ids (&#x60;userIds&#x60;, the explicit batch-by-id lookup; &#x60;emailAddresses&#x60;, exact and case-insensitive; &#x60;email&#x60;, a case-insensitive substring); when more than one is supplied they are combined with AND (intersection). The remaining filters (&#x60;name&#x60;, &#x60;statuses&#x60;, &#x60;createdAfter&#x60;/&#x60;createdBefore&#x60;) apply on top.
     * @param limit Maximum number of items in the returned page (default 20). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @param serverUserSearchRequest  (optional)
     * @return ApiResponse<CursorPageResponseServerUserResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun searchUsersWithHttpInfo(limit: kotlin.Int?, cursor: java.util.UUID?, serverUserSearchRequest: ServerUserSearchRequest?) : ApiResponse<CursorPageResponseServerUserResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = searchUsersRequestConfig(limit = limit, cursor = cursor, serverUserSearchRequest = serverUserSearchRequest)

        return@withContext request<ServerUserSearchRequest, CursorPageResponseServerUserResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchUsers
     *
     * @param limit Maximum number of items in the returned page (default 20). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @param serverUserSearchRequest  (optional)
     * @return RequestConfig
     */
    fun searchUsersRequestConfig(limit: kotlin.Int?, cursor: java.util.UUID?, serverUserSearchRequest: ServerUserSearchRequest?) : RequestConfig<ServerUserSearchRequest> {
        val localVariableBody = serverUserSearchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/server/v1/users/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/server/v1/users/{userId}/unban
     * Unban user
     * Reverses a previous ban. The user can sign in again on next request.
     * @param userId Identifier of the user to unban.
     * @return ServerUserResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun unbanUser(userId: java.util.UUID) : ServerUserResponse = withContext(Dispatchers.IO) {
        val localVarResponse = unbanUserWithHttpInfo(userId = userId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ServerUserResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/server/v1/users/{userId}/unban
     * Unban user
     * Reverses a previous ban. The user can sign in again on next request.
     * @param userId Identifier of the user to unban.
     * @return ApiResponse<ServerUserResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun unbanUserWithHttpInfo(userId: java.util.UUID) : ApiResponse<ServerUserResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = unbanUserRequestConfig(userId = userId)

        return@withContext request<Unit, ServerUserResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation unbanUser
     *
     * @param userId Identifier of the user to unban.
     * @return RequestConfig
     */
    fun unbanUserRequestConfig(userId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/server/v1/users/{userId}/unban".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/server/v1/users/{userId}
     * Update user
     * Partial update with tri-state PATCH semantics. Every field in &#x60;UpdateUserRequest&#x60; is tri-state: omit the key to leave the field unchanged, send a non-null value to set it, or send JSON null to clear it.
     * @param userId Identifier of the user to update.
     * @param updateUserRequest 
     * @return ServerUserResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun updateUser(userId: java.util.UUID, updateUserRequest: UpdateUserRequest) : ServerUserResponse = withContext(Dispatchers.IO) {
        val localVarResponse = updateUserWithHttpInfo(userId = userId, updateUserRequest = updateUserRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ServerUserResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/server/v1/users/{userId}
     * Update user
     * Partial update with tri-state PATCH semantics. Every field in &#x60;UpdateUserRequest&#x60; is tri-state: omit the key to leave the field unchanged, send a non-null value to set it, or send JSON null to clear it.
     * @param userId Identifier of the user to update.
     * @param updateUserRequest 
     * @return ApiResponse<ServerUserResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun updateUserWithHttpInfo(userId: java.util.UUID, updateUserRequest: UpdateUserRequest) : ApiResponse<ServerUserResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = updateUserRequestConfig(userId = userId, updateUserRequest = updateUserRequest)

        return@withContext request<UpdateUserRequest, ServerUserResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateUser
     *
     * @param userId Identifier of the user to update.
     * @param updateUserRequest 
     * @return RequestConfig
     */
    fun updateUserRequestConfig(userId: java.util.UUID, updateUserRequest: UpdateUserRequest) : RequestConfig<UpdateUserRequest> {
        val localVariableBody = updateUserRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/server/v1/users/{userId}".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/server/v1/users/{userId}/metadata
     * Update user metadata
     * Deep-merges into any of the three metadata bags. Each bag is tri-state: omit the key to leave the bag unchanged, or send an object to deep-merge into the existing bag (a key set to null removes it). The merged metadata is capped at 8 KB total across &#x60;publicMetadata&#x60;, &#x60;privateMetadata&#x60;, and &#x60;unsafeMetadata&#x60; combined (no per-bag limit).
     * @param userId Identifier of the user to update.
     * @param updateUserMetadataRequest 
     * @return ServerUserResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun updateUserMetadata(userId: java.util.UUID, updateUserMetadataRequest: UpdateUserMetadataRequest) : ServerUserResponse = withContext(Dispatchers.IO) {
        val localVarResponse = updateUserMetadataWithHttpInfo(userId = userId, updateUserMetadataRequest = updateUserMetadataRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ServerUserResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/server/v1/users/{userId}/metadata
     * Update user metadata
     * Deep-merges into any of the three metadata bags. Each bag is tri-state: omit the key to leave the bag unchanged, or send an object to deep-merge into the existing bag (a key set to null removes it). The merged metadata is capped at 8 KB total across &#x60;publicMetadata&#x60;, &#x60;privateMetadata&#x60;, and &#x60;unsafeMetadata&#x60; combined (no per-bag limit).
     * @param userId Identifier of the user to update.
     * @param updateUserMetadataRequest 
     * @return ApiResponse<ServerUserResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun updateUserMetadataWithHttpInfo(userId: java.util.UUID, updateUserMetadataRequest: UpdateUserMetadataRequest) : ApiResponse<ServerUserResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = updateUserMetadataRequestConfig(userId = userId, updateUserMetadataRequest = updateUserMetadataRequest)

        return@withContext request<UpdateUserMetadataRequest, ServerUserResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateUserMetadata
     *
     * @param userId Identifier of the user to update.
     * @param updateUserMetadataRequest 
     * @return RequestConfig
     */
    fun updateUserMetadataRequestConfig(userId: java.util.UUID, updateUserMetadataRequest: UpdateUserMetadataRequest) : RequestConfig<UpdateUserMetadataRequest> {
        val localVariableBody = updateUserMetadataRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/server/v1/users/{userId}/metadata".replace("{"+"userId"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
