/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package so.torii.backend.generated.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import so.torii.backend.generated.model.CursorPageResponseServerOrganizationMemberResponse
import so.torii.backend.generated.model.CursorPageResponseServerOrganizationResponse
import so.torii.backend.generated.model.ProblemDetail
import so.torii.backend.generated.model.ServerOrganizationMemberResponse
import so.torii.backend.generated.model.ServerOrganizationResponse
import so.torii.backend.generated.model.UpdateOrganizationMetadataRequest

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import so.torii.backend.generated.infrastructure.ApiClient
import so.torii.backend.generated.infrastructure.ApiResponse
import so.torii.backend.generated.infrastructure.ClientException
import so.torii.backend.generated.infrastructure.ClientError
import so.torii.backend.generated.infrastructure.ServerException
import so.torii.backend.generated.infrastructure.ServerError
import so.torii.backend.generated.infrastructure.MultiValueMap
import so.torii.backend.generated.infrastructure.PartConfig
import so.torii.backend.generated.infrastructure.RequestConfig
import so.torii.backend.generated.infrastructure.RequestMethod
import so.torii.backend.generated.infrastructure.ResponseType
import so.torii.backend.generated.infrastructure.Success
import so.torii.backend.generated.infrastructure.toMultiValue
import so.torii.backend.generated.infrastructure.Serializer

open class ServerOrganizationsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.torii.so")
        }
    }

    /**
     * GET /api/server/v1/organizations/{organizationId}
     * Get an organization
     * One organization with both metadata bags.
     * @param organizationId 
     * @return ServerOrganizationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun getOrganization(organizationId: java.util.UUID) : ServerOrganizationResponse = withContext(Dispatchers.IO) {
        val localVarResponse = getOrganizationWithHttpInfo(organizationId = organizationId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ServerOrganizationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/server/v1/organizations/{organizationId}
     * Get an organization
     * One organization with both metadata bags.
     * @param organizationId 
     * @return ApiResponse<ServerOrganizationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun getOrganizationWithHttpInfo(organizationId: java.util.UUID) : ApiResponse<ServerOrganizationResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = getOrganizationRequestConfig(organizationId = organizationId)

        return@withContext request<Unit, ServerOrganizationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getOrganization
     *
     * @param organizationId 
     * @return RequestConfig
     */
    fun getOrganizationRequestConfig(organizationId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/server/v1/organizations/{organizationId}".replace("{"+"organizationId"+"}", encodeURIComponent(organizationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/server/v1/organizations/{organizationId}/members
     * List organization members
     * Cursor-paginated page of the organization&#39;s USER memberships, each with both metadata bags. Ordered by member user id ascending (a creation-ordered uuid v7, which is also the seek key), NOT by join time.
     * @param organizationId 
     * @param limit Maximum number of items in the returned page (default 20; values outside 1-100 are clamped). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @return CursorPageResponseServerOrganizationMemberResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listMembers(organizationId: java.util.UUID, limit: kotlin.Int? = 20, cursor: java.util.UUID? = null) : CursorPageResponseServerOrganizationMemberResponse = withContext(Dispatchers.IO) {
        val localVarResponse = listMembersWithHttpInfo(organizationId = organizationId, limit = limit, cursor = cursor)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CursorPageResponseServerOrganizationMemberResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/server/v1/organizations/{organizationId}/members
     * List organization members
     * Cursor-paginated page of the organization&#39;s USER memberships, each with both metadata bags. Ordered by member user id ascending (a creation-ordered uuid v7, which is also the seek key), NOT by join time.
     * @param organizationId 
     * @param limit Maximum number of items in the returned page (default 20; values outside 1-100 are clamped). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @return ApiResponse<CursorPageResponseServerOrganizationMemberResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listMembersWithHttpInfo(organizationId: java.util.UUID, limit: kotlin.Int?, cursor: java.util.UUID?) : ApiResponse<CursorPageResponseServerOrganizationMemberResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listMembersRequestConfig(organizationId = organizationId, limit = limit, cursor = cursor)

        return@withContext request<Unit, CursorPageResponseServerOrganizationMemberResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listMembers
     *
     * @param organizationId 
     * @param limit Maximum number of items in the returned page (default 20; values outside 1-100 are clamped). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @return RequestConfig
     */
    fun listMembersRequestConfig(organizationId: java.util.UUID, limit: kotlin.Int?, cursor: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/server/v1/organizations/{organizationId}/members".replace("{"+"organizationId"+"}", encodeURIComponent(organizationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/server/v1/organizations
     * List organizations
     * Cursor-paginated page of the environment&#39;s organizations, with both metadata bags. Optional &#x60;name&#x60; filter is a case-insensitive substring match.
     * @param name Case-insensitive substring filter on the organization name. (optional)
     * @param limit Maximum number of items in the returned page (default 20; values outside 1-100 are clamped). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @return CursorPageResponseServerOrganizationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listOrganizations(name: kotlin.String? = null, limit: kotlin.Int? = 20, cursor: java.util.UUID? = null) : CursorPageResponseServerOrganizationResponse = withContext(Dispatchers.IO) {
        val localVarResponse = listOrganizationsWithHttpInfo(name = name, limit = limit, cursor = cursor)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CursorPageResponseServerOrganizationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/server/v1/organizations
     * List organizations
     * Cursor-paginated page of the environment&#39;s organizations, with both metadata bags. Optional &#x60;name&#x60; filter is a case-insensitive substring match.
     * @param name Case-insensitive substring filter on the organization name. (optional)
     * @param limit Maximum number of items in the returned page (default 20; values outside 1-100 are clamped). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @return ApiResponse<CursorPageResponseServerOrganizationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listOrganizationsWithHttpInfo(name: kotlin.String?, limit: kotlin.Int?, cursor: java.util.UUID?) : ApiResponse<CursorPageResponseServerOrganizationResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listOrganizationsRequestConfig(name = name, limit = limit, cursor = cursor)

        return@withContext request<Unit, CursorPageResponseServerOrganizationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listOrganizations
     *
     * @param name Case-insensitive substring filter on the organization name. (optional)
     * @param limit Maximum number of items in the returned page (default 20; values outside 1-100 are clamped). (optional, default to 20)
     * @param cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page. (optional)
     * @return RequestConfig
     */
    fun listOrganizationsRequestConfig(name: kotlin.String?, limit: kotlin.Int?, cursor: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (name != null) {
                    put("name", listOf(name.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/server/v1/organizations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/server/v1/organizations/{organizationId}/members/{memberUserId}/metadata
     * Update organization membership metadata
     * Deep-merges into either bag on one membership, with the same tri-state contract as the organization endpoint. Each bag on the membership has its own 8 KB budget, separate from the organization&#39;s bags.
     * @param organizationId 
     * @param memberUserId 
     * @param updateOrganizationMetadataRequest 
     * @return ServerOrganizationMemberResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun updateMemberMetadata(organizationId: java.util.UUID, memberUserId: java.util.UUID, updateOrganizationMetadataRequest: UpdateOrganizationMetadataRequest) : ServerOrganizationMemberResponse = withContext(Dispatchers.IO) {
        val localVarResponse = updateMemberMetadataWithHttpInfo(organizationId = organizationId, memberUserId = memberUserId, updateOrganizationMetadataRequest = updateOrganizationMetadataRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ServerOrganizationMemberResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/server/v1/organizations/{organizationId}/members/{memberUserId}/metadata
     * Update organization membership metadata
     * Deep-merges into either bag on one membership, with the same tri-state contract as the organization endpoint. Each bag on the membership has its own 8 KB budget, separate from the organization&#39;s bags.
     * @param organizationId 
     * @param memberUserId 
     * @param updateOrganizationMetadataRequest 
     * @return ApiResponse<ServerOrganizationMemberResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun updateMemberMetadataWithHttpInfo(organizationId: java.util.UUID, memberUserId: java.util.UUID, updateOrganizationMetadataRequest: UpdateOrganizationMetadataRequest) : ApiResponse<ServerOrganizationMemberResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = updateMemberMetadataRequestConfig(organizationId = organizationId, memberUserId = memberUserId, updateOrganizationMetadataRequest = updateOrganizationMetadataRequest)

        return@withContext request<UpdateOrganizationMetadataRequest, ServerOrganizationMemberResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateMemberMetadata
     *
     * @param organizationId 
     * @param memberUserId 
     * @param updateOrganizationMetadataRequest 
     * @return RequestConfig
     */
    fun updateMemberMetadataRequestConfig(organizationId: java.util.UUID, memberUserId: java.util.UUID, updateOrganizationMetadataRequest: UpdateOrganizationMetadataRequest) : RequestConfig<UpdateOrganizationMetadataRequest> {
        val localVariableBody = updateOrganizationMetadataRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/server/v1/organizations/{organizationId}/members/{memberUserId}/metadata".replace("{"+"organizationId"+"}", encodeURIComponent(organizationId.toString())).replace("{"+"memberUserId"+"}", encodeURIComponent(memberUserId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/server/v1/organizations/{organizationId}/metadata
     * Update organization metadata
     * Deep-merges into either metadata bag. Each bag is tri-state: omit the key to leave the bag unchanged, or send an object to deep-merge into it (a key set to null removes it). Each bag is capped at 8 KB on its own, measured on the merged result rather than on the patch you send. A request naming neither bag is a 400.
     * @param organizationId 
     * @param updateOrganizationMetadataRequest 
     * @return ServerOrganizationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun updateOrganizationMetadata(organizationId: java.util.UUID, updateOrganizationMetadataRequest: UpdateOrganizationMetadataRequest) : ServerOrganizationResponse = withContext(Dispatchers.IO) {
        val localVarResponse = updateOrganizationMetadataWithHttpInfo(organizationId = organizationId, updateOrganizationMetadataRequest = updateOrganizationMetadataRequest)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ServerOrganizationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/server/v1/organizations/{organizationId}/metadata
     * Update organization metadata
     * Deep-merges into either metadata bag. Each bag is tri-state: omit the key to leave the bag unchanged, or send an object to deep-merge into it (a key set to null removes it). Each bag is capped at 8 KB on its own, measured on the merged result rather than on the patch you send. A request naming neither bag is a 400.
     * @param organizationId 
     * @param updateOrganizationMetadataRequest 
     * @return ApiResponse<ServerOrganizationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun updateOrganizationMetadataWithHttpInfo(organizationId: java.util.UUID, updateOrganizationMetadataRequest: UpdateOrganizationMetadataRequest) : ApiResponse<ServerOrganizationResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = updateOrganizationMetadataRequestConfig(organizationId = organizationId, updateOrganizationMetadataRequest = updateOrganizationMetadataRequest)

        return@withContext request<UpdateOrganizationMetadataRequest, ServerOrganizationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateOrganizationMetadata
     *
     * @param organizationId 
     * @param updateOrganizationMetadataRequest 
     * @return RequestConfig
     */
    fun updateOrganizationMetadataRequestConfig(organizationId: java.util.UUID, updateOrganizationMetadataRequest: UpdateOrganizationMetadataRequest) : RequestConfig<UpdateOrganizationMetadataRequest> {
        val localVariableBody = updateOrganizationMetadataRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/server/v1/organizations/{organizationId}/metadata".replace("{"+"organizationId"+"}", encodeURIComponent(organizationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
